[secrets]
; Network credentials
APN = "apn"
GPRS_USER = ""
GPRS_PASS = ""

; OTA settings
OTA_HOUR = 11
OTA_MINUTE = 0
OTA_DURATION = 15
OTA_SSID = "Aiolos-Weather-OTA"
OTA_PASSWORD = "weather-update"
OTA_MIN_BATTERY_VOLTAGE = 3.6

; Power management
SLEEP_START_HOUR = 21
SLEEP_END_HOUR = 10

; Device identification
DEVICE_ID = "Aiolos"

; Server settings
SERVER_HOST = "1.1.1.1"
SERVER_PORT = 80
